.barraSuperior {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   position: fixed;
   width: 100%;
   background-color: #06f8d836; 
   border-bottom: 2px solid rgb(250, 248, 248);
   margin-top: -1px;
   top: 0;
   left: 0;
   z-index: 9999;
}

.contenedorNav {
   width: 120px;
   height: 60px;
   margin-top: 8.4px;
}

.miBoton {
   margin-right: 0px; 
   border-radius: 5px;
   height: 40px;
   width: 100px;
   background-color: rgba(96, 241, 241, 0.473);
   color: bisque;
   padding: 5px;
   transition: background-color 0.5s; 
   font-size: 18px;
   border: 0;
   margin-top: 9.6px;
   box-shadow: 1px 1px rgb(220, 221, 223); 
   font-size: 12px; 
}

.miBoton:hover {
   background-color: rgba(250, 102, 218, 0.473);
   transition: background-color 0.5s; 
   box-shadow: 2px 2px rgb(220, 221, 223);   
}

.logo {
   width: 100px;
   height: auto;
   margin-top: 10px;
   margin-left: 315px; /* Centrar horizontalmente el logo */
}

.logo:hover {
   transform: scale(1.4);
   transition: transform 0.3s;
}


.infoBoton {   
   justify-content: auto;
   margin-right: 0px;
   margin-left: 10px;
   border-radius: 5px;
   height: 40px;
   width: 100px;
   background-color: rgba(96, 241, 241, 0.473);
   color: bisque;
   padding: 5px;
   transition: background-color 0.5s; 
   font-size: 18px;
   border: 0;
   margin-top: 9px;
   box-shadow: 1px 1px rgb(220, 221, 223); 
   font-size: 12px;
}

.infoBoton:hover {
   background-color: rgba(250, 102, 218, 0.473);
   transition: background-color 0.5s; 
   box-shadow: 2px 2px rgb(220, 221, 223); 
}
