.error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: rgb(14, 13, 13);
    font-size: 24px;
 }

 .text {
    color:rgb(13, 13, 14);
 }
 