.container {
    border: 2px solid rgb(182, 255, 13);
    background-color: hsla(0, 81%, 69%, 0.514);
    width: 130px;
    height: 220px;
    padding: 10px;
    box-shadow: 1px 1px rgb(4, 39, 63);
    margin: 20px;
    margin-top: 50px;
    transition: background-color 0.4s;
    border-radius: 3%;
  }
  
  .container:hover {
    background-color: rgb(252, 248, 248);
    box-shadow: 7px 7px rgba(4, 39, 63, 0.548);
    transition: background-color 0.4s;
    transform: scale(1.2);
    transition: transform 0.4s;
  }
  
  .container:hover h2 {
    transform: scale(1.2);
    transition: transform 0.4s;
  }
  
  .image {
    width: 105px;
    border-radius: 80px;
    border: 2px solid rgb(182, 255, 13);
    filter: brightness(5%);
    transition: filter 0.4s;
    margin-left: 7%;
  }
  
  .container:hover .image {
    filter: brightness(100%);
  }
  
  .buttonContainer {
    
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .buttonContainer button {
    background-color: rgba(180, 218, 13, 0);
    color: rgb(12, 12, 12);    
    margin-bottom: -25px;
    margin-right: -10px;
    padding: 10px;
  }
  
  .buttonContainer button:hover {
    background-color: rgba(236, 40, 14, 0);
    color: rgb(245, 71, 71);
    transition: background-color 0.2s;
  }
  
  .closeButton {
    background-color: rgb(108, 131, 4);
    color: rgb(228, 245, 71);
    border-radius: 0px;
    border: 0px;
    
  }
  
  .favButton {
    background-color: rgb(107, 131, 4); 
    color: rgb(227, 245, 71);
    border-radius: 50px; 
    border: 0px;
  }

  .favButton:hover {
    transform: scale(1.5);
    transition: transform 0.6s;

  }
  
  .dataContainer {
    text-align: center;
  }
  
  .dataContainer h2 {
    margin: 2px;
    font-size: 10px;
    color: rgb(2, 252, 14);
  }
  
  .dataContainer h5 {
    margin: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: rgb(2, 252, 14);
  }
  
  .container:hover h5 {
    transform: scale(1.2);
    transition: transform 0.4s;
  }
  