.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 200px;
    background-color: #5c5a5b;
    color:rgb(244, 247, 248);
    font-size: 14px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: rgba(239, 245, 245, 0.938);
    margin-left: -7px;
    
  }
  
  .form-button {
    background-color: #0581f5;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 105px;
    margin-top: 15px;
    
  }
  
  .form-button:hover {
    background-color: #45a049;
  }
  