.aboutMe {
    background-color: rgba(255, 0, 221, 0.459);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    margin-left: 160px;
    text-align: center;
    width: 80%;
    height: 80%;
    border-radius: 8px;
    color: antiquewhite;
    border: 2px solid rgb(249, 250, 247);
    box-shadow:  4px 4px rgba(182, 255, 13, 0.438);
    transition: background-color 0.5s;
  }

  .aboutMe:hover{
    background-color: rgba(182, 255, 13, 0.438);
    color:rgb(8, 8, 8);
    transition: background-color 0.5s; 
    box-shadow:  4px 4px rgba(255, 0, 221, 0.459);
  }

  
  .aboutMe img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  
  .nombre {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .texto {
      color: antiquewhite;
      margin-bottom: 20px;
    }
 
  .aboutMe:hover p { 
        color: black;
        transition: background-color 0.5s;
      }
    
  ul {
    color: antiquewhite;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }

  .aboutMe:hover ul {
    color:rgb(8, 8, 8);
    transition: background-color 0.5s;

  }
  
  ul li {
    
    margin-bottom: 5px;
  }


  .closeButton {
    background-color: rgba(108, 131, 4, 0);
    color: rgb(248, 248, 247);
    border-radius: 50px;
    border: 0px;
    font-size: 50px;
    margin-left: 1200px;
  }
  
  .closeButton:hover {
    color: rgb(252, 4, 4);
  }