
.container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.226);
    padding: 10px;
    width: 450px;
    height: 40px;
    margin-top: 7px;
    margin-left: 550px;
    
}
  
.container input{
    border-radius: 5px;
    background-color: rgba(76, 252, 6, 0.514);    
    height: 40px;
    width: 400px;
    margin-right: 10px; 
    box-shadow:  1px 1px rgb(250, 248, 247);
    font-size: 29px;
    color:rgb(251, 255, 246);
    font-family:fantasy;
    text-shadow: 3px 2px rgba(34, 34, 34, 0.651)
    
}

.container button{
    border-radius: 5px;
    height: 40px;
    width: 100px;
    background-color: rgba(20, 5, 1, 0.295);
    color: bisque;
    padding: 5px;
    transition: background-color 0.5s; 
    font-size: 12px;
    border: 0;
    box-shadow:  1px 1px rgb(220, 221, 223); 
}

.container button:hover {
    background-color: rgba(250, 3, 3, 0.616);
    transition: background-color 0.5s; 
    box-shadow:  2px 2px rgb(220, 221, 223); 
}

