.divCard{

    background-color: brown;
    ;
}

.cardImage {
    width: 20%; /* ajusta el ancho de la imagen al ancho del contenedor */
    height: auto; /* mantiene la relación de aspecto de la imagen */
    border-color: 10px rgb(99, 30, 190);  
    border: 20px;
    /* display: flex; */
    
    
}

.cardContainer {
    
    border: 10px solid black;
    margin: 10px;
    padding: 10px;

  }
